.title {
  font-size: 25px;
  color: #2980b9;
  margin-bottom: 15px;
}

.btn {
  margin-right: 5px;
  display: inline-block;
  padding: 7px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 13px;
  background-color: #2980b9;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: #333;
}

.container {
  padding: 100px 9%;
  background: linear-gradient(45deg, deeppink, #2980b9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .profile {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  background-color: #fff;
  padding: 30px 20px;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  left: 0px;
  border-right: 2px solid #333;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .profile img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid #333;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.container .profile h3 {
  color: #333;
  font-size: 20px;
}

.container .profile p {
  color: #2980b9;
  padding: 5px 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.container .profile .share {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .profile .share .iconbox {
  height: 30px;
  width: 30px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .profile .share .iconbox .icon {
  color: #333;
  font-size: 15px;
}

.container .profile .share .iconbox:hover {
  background-color: #2980b9;
  color: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .information {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 1000px;
          flex: 1 1 1000px;
  background-color: #fff;
  padding: 20px 20px;
}

.container .information .about p {
  font-size: 17px;
  line-height: 2;
  padding: 5px 0;
  color: #777;
}

.container .information .about .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.container .information .about .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
}

.container .information .about .box-container .box h3 {
  font-size: 15px;
  padding: 10px 0;
  color: #333;
}

.container .information .about .box-container .box h3 span {
  color: #777;
}

.container .information .services {
  padding: 20px 0;
}

.container .information .services .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.container .information .services .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 17px;
          flex: 1 1 17px;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
  background-color: #eee;
}

.container .information .services .box-container .box img {
  height: 50px;
  margin-bottom: 10px;
}

.container .information .skills .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.container .information .skills .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.container .information .skills .box-container .box .progress h3 {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333;
  font-size: 15px;
}

.container .information .skills .box-container .box .progress h3 span {
  color: #777;
}

.container .information .skills .box-container .box .progress .bar {
  overflow: hidden;
  border-radius: 50px;
  height: 10px;
  background-color: #eee;
}

.container .information .skills .box-container .box .progress .bar span {
  background-color: #2980b9;
  height: 100%;
  display: block;
  border-radius: 50px;
}

.container .information .skills .box-container .box:first-child .progress:nth-child(1) .bar span {
  width: 95%;
}

.container .information .skills .box-container .box:first-child .progress:nth-child(2) .bar span {
  width: 80%;
}

.container .information .skills .box-container .box:first-child .progress:nth-child(3) .bar span {
  width: 65%;
}

.container .information .skills .box-container .box:first-child .progress:nth-child(4) .bar span {
  width: 70%;
}

.container .information .skills .box-container .box:last-child .progress:nth-child(1) .bar span {
  width: 90%;
}

.container .information .skills .box-container .box:last-child .progress:nth-child(2) .bar span {
  width: 75%;
}

.container .information .skills .box-container .box:last-child .progress:nth-child(3) .bar span {
  width: 65%;
}

.container .information .skills .box-container .box:last-child .progress:nth-child(4) .bar span {
  width: 70%;
}

.container .information .experience {
  margin: 20px 0;
}

.container .information .experience .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.container .information .experience .box-container .box {
  padding: 20px;
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35px;
          flex: 1 1 35px;
  background-color: #eee;
}

.container .information .experience .box-container .box span {
  color: #2980b9;
  font-size: 15px;
}

.container .information .experience .box-container .box h3 {
  color: #333;
  font-size: 17px;
}

.container .information .experience .box-container .box p {
  color: #777;
  line-height: 2;
  font-size: 13px;
}

.container .information .contact .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.container .information .contact .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  gap: 10px;
}

.container .information .contact .box .iconbox {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #2980b9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .information .contact .box .iconbox .icon {
  color: #fff;
  font-size: 25px;
}

.container .information .contact .box .h3 {
  font-size: 17px;
  color: #333;
  padding-bottom: 5px;
}

.container .information .contact .box p {
  font-size: 14px;
  color: #777;
  line-height: 2;
}

@media (max-width: 1200px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .profile {
    position: static;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-right: none;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .container .information {
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
}

@media (max-width: 450px) {
  .container .profile {
    width: 100%;
  }
  .container .profile .btn {
    width: 100%;
  }
  .container .information .about p {
    font-size: 12px;
  }
  .container .information .experience .box-container .box p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=App.css.map */